{% extends "base/base.html" %}

{% block title %} Информация о матрице {% endblock %}

{% block page_content %}
	<!--matrix name-->
	<div class="page-header">
		<h1>{{ matrix.name }}</h1>
	</div>
	<!--matrix body-->
	{% for aspect in y_aspects %}
	<div class="row">
		<div class="col-xs-2 with-padding">
			<div class="pull-right">
				{{ aspect.name }}
			</div>
		</div>
		{% if loop.index is odd %}
			{% for universum in first_row_of_universums %}
			<div class="col-xs-4 with-border with-padding with-background">
				{{ universum.name }}
			</div>
			{% endfor %}
		{% elif loop.index is even %}
			{% for universum in second_row_of_universums %}
			<div class="col-xs-4 with-border with-padding with-background">
				{{ universum.name }}
			</div>
			{% endfor %}
		{% endif %}
	</div>
	{% endfor %}
	<div class="row">
		<div class="col-xs-2"></div>
		{% for aspect in x_aspects %}
		<div class="col-xs-4 with-padding">
			{{ aspect.name }}
		</div>
		{% endfor %}
	</div>
	<!--matrix levels pager-->
	<br>
	<ul class="pager pull-left">
		{% if level.prev %}
		<li><a href="{{ url_for('matrices.get', matrix_id=matrix.id,
								level_id=level.prev.id) }}">
			&larr; Предыдущий уровень</a></li>
		{% else %}
		<li class="disabled">
			<a href="#">&larr; Предыдущий уровень</a>
		</li>
		{% endif %}
		{% if level.next %}
		<li><a href="{{ url_for('matrices.get', matrix_id=matrix.id,
								level_id=level.next.id) }}">
			Следующий уровень &rarr;</a>
		</li>
		{% else %}
		<li><a href="{{ url_for('levels.generate', matrix_id=matrix.id,
								level_value=matrix.levels|list|length + 1) }}">
			Следующий уровень &rarr;</a>
		</li>
		{% endif %}
	</ul>
{% endblock %}