{% extends "base.html" %}

{% block title %}Fractal Matrix{% endblock %}

{% block page_content %}
	<div class="container">
		<div class="page-header">
			<h1>Таблица</h1>
		</div>
		<table class="table table-bordered">
			<tbody>
				{% for aspect in y_aspects %}
					<tr>
						<th scope="row">
							{{ aspect.name }}
							<a class="btn btn-default btn-xs"
							   href="{{ url_for('aspects.update', id=aspect.id) }}">
								<span class="glyphicon glyphicon-pencil"></span>
							</a>
						</th>
						{% if loop.index is odd %}
							{% for universum in first_row_of_universums %}
								<td>
									{{ universum.name }}
									<a class="btn btn-default btn-xs"
									   href="{{ url_for('universums.update', id=universum.id) }}">
										<span class="glyphicon glyphicon-pencil"></span>
									</a>
								</td>
							{% endfor %}
						{% elif loop.index is even %}
							{% for universum in second_row_of_universums %}
								<td>
									{{ universum.name }}
									<a class="btn btn-default btn-xs"
									   href="{{ url_for('universums.update', id=universum.id) }}">
										<span class="glyphicon glyphicon-pencil"></span>
									</a>
								</td>
							{% endfor %}
						{% endif %}
					</tr>
				{% endfor %}
			</tbody>
			<tfoot>
				<tr>
					<th class="invisible"></th>
					{% for aspect in x_aspects %}
						<th scope="col">
							{{ aspect.name }}
							<a class="btn btn-default btn-xs"
							   href="{{ url_for('aspects.update', id=aspect.id) }}">
								<span class="glyphicon glyphicon-pencil"></span>
							</a>
						</th>
					{% endfor %}
				</tr>
			</tfoot>
		</table>
	</div>
{% endblock %}