{% extends "bootstrap/base.html" %}
{% block title %}This is an example page{% endblock %}

{% block head %}
{{super()}}
<link rel="stylesheet" href="{{url_for('static', filename='styles.css')}}">
{% endblock %}

{% block navbar %}
{% endblock %}

{% block content %}
<!--todo: определиться с вариантом отрисовки куба: таблица, div-ы с бордерами или canvas-->
	<div class="container">
		<table class="table table-bordered">
			<tr>
				<td>Сущность</td>
				<td>Сущность</td>
				<td>Сущность</td>
			</tr>
			<tr>
				<td>Сущность</td>
				<td>Сущность</td>
				<td>Сущность</td>
			</tr>
			<tr>
				<td>Сущность</td>
				<td>Сущность</td>
				<td>Сущность</td>
			</tr>
		</table>
	</div>
{% endblock %}